html,body{}
body, p, div, li{}
.slider .slider__img{width:100%;}
.slider__item{position:absolute;top:0px;left:0px;}
@keyframes slider-autoplay{	
	0% {opacity:0;}
	10% {opacity:1;}
	33% {opacity:1;}
	43% {opacity:0;}
	100% {opacity:0;}
}
.slider__item{animation: none;}
.slider__item:nth-child(1){z-index:20;opacity:1;}
.slider__item:nth-child(2){z-index:10;opacity:1;}
.slider__item:nth-child(3){z-index:0;opacity:0;}
.slider div{transition: opacity 0.5s ease-out 0s;}
.slider:hover .slider__item{animation-play-state:paused;}
.slider__button{z-index:1000;margin-top:400px;}