html,body{}
body, p, div, li{}
.slider .slider__img{width:100%;}
.slider__item{position:absolute;top:0px;left:0px;}
@keyframes slider-autoplay{	
	0% {opacity:0;}
	10% {opacity:1;}
	33% {opacity:1;}
	43% {opacity:0;}
	100% {opacity:0;}
}
.slider__item{animation: none;}
.slider__item:nth-child(1){z-index:20;}
.slider__item:nth-child(2){animation-delay:3.45s;z-index:10;}
.slider__item:nth-child(3){animation-delay:9s;z-index:0;}
.slider:hover .slider__item{animation-play-state:paused;}
.slider__button{z-index:1000;margin-top:400px;}